.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1ac757d7;
    color: white;
  }
  
  .navbar h1 {
    margin: 0;
  }
  
  .theme-toggle button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .theme-toggle button:hover {
    color: yellow;
  }
  